body{
	font: 20px/1.75 Tahoma,Arial,sans-serif;
}

body a{
	color:#FFF;
	text-decoration:none;
}

header{
	height:50px;
	text-align:center;
	line-height: 50px;
	color: #7192C5;
	font-size: 20px;
}

.header_add_menu,.header_home_menu{
	background-color:#CCC;
	position:absolute;
	height:50px;
	width:50px;
	display:inline-block;
	color:#FFF;
	border-radius:25px;
	cursor:pointer;
	text-align: center;
}

.header_add_menu{
	font-size:50px;
	right:5px;
	top:5px;
	line-height:50px;
}

.header_home_menu{
	font-size:50px;
	left:5px;
	top:5px;
	line-height:40px;
}

.main_content{
	padding-top: 10px;
	position: relative;
}

.main_content li{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-indent: 15px;
}
.no_item{
	text-indent:none;
	text-align: center;
	color: #A00;
}

.menu_wrapper{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
}
.menu_item,.menu_wrapper{display:none;}
.menu_item li{
	display:block;
	text-align:center;
	font-size:30px;
	height:80px;
	line-height:80px;
}
.play_task,.pause_task{
	width: 50px;
	height: 50px;
	display: inline-block;
	float: right;
	cursor: pointer;
	background-size: 50px;
}
.play_task{
	background: url(http://sandbox.runjs.cn/uploads/rs/90/wwourf2n/1358366490_monotone.png) no-repeat;
	background-size: 50px;
}

.pause_task{
	background: url(http://sandbox.runjs.cn/uploads/rs/90/wwourf2n/1358366911_pause.png) no-repeat;
	background-size: 40px;
	background-position: 5px 5px;
}
.task_form{
	text-align: center;
	padding:20px auto;
}
.task_form input[type="text"],
.task_form select{
	height:50px;
	width:90%;
	border:0;
	margin:10px auto;
	font-size: 20px;
	line-height: 30px;
}

.task_form input[type="text"]{
	border-radius: 0;
	padding:auto 10px;
	text-align: center;
}
.task_form .btn{
	height:40px;
	min-width: 70px;
	padding:5px 10px 3px 10px;
	margin:5px 10px;
}


/*背景颜色*/
.bg_blue{background-color:#7192C5;color: #FFF;}
.bg_green{background-color:#5CC26F;color: #FFF;}
.bg_yellow{background-color:#F89406;color: #FFF;}
.bg_red{background-color:#D15B5B;color: #FFF;}
.bg_grey{background-color: #CCC;color: #FFF;}

/*外边距*/
.mt20{margin-top:20px;}
.mtb10{margin-top: 10px;margin-bottom: 10px;}
.mtb20{margin-top: 20px;margin-bottom: 20px;}
/*内边距*/
.pl10{padding-left: 10px;}